<h1> This is Home page of web server </h1>
<h1> this node os is : {{ansible_os_family}}</h1>
<h1> this node IP is : {{ansible_all_ipv4_addresses}}</h1>
<h1> what is a time and date: {{ansible_date_time}}</h1>
<h1> what is a java version: {{myjavaonubuntu}}</h1>