<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ This is apache2 web server }}</title>
</head>
<body>
    <h1>Welcome to {{ time }}</h1>
    
    <p>Hello, {{ name }}!</p>

    {% if items %}
        <h2>Here are your items:</h2>
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No items to display.</p>
    {% endif %}
</body>
</html>
